<!DOCTYPE html>
<html lang="de">
	<head>
    	<title>Alarmdisplay</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-8">
        <meta http-equiv="refresh" content="20">
    </head>
    <body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
			<div class="navbar-header"> 
			<a class="navbar-brand" href="#">Freiwillige Feuerwehr Grande <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Alarmdisplay</a>
			</div>
		</nav>
		<div class="container-fluid">
			{% block content %}{% endblock content %}
		</div>
  		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script type="text/javascript">
			function uhr() 
				{
				var Jetzt = new Date();
				var Dow = Jetzt.getDay()
				var Tag = Jetzt.getDate();
				var Monat = Jetzt.getMonth();
				var Jahr = Jetzt.getFullYear();
				var Stunden = Jetzt.getHours();
				var Minuten = Jetzt.getMinutes();
				var Sekunden = Jetzt.getSeconds();
				
				Tag = ((Tag < 10)? "0" + Tag : Tag);
				Monat = ((Monat < 10)? "0" + Monat : Monat);
				Stunden = ((Stunden < 10)? "0" + Stunden : Stunden);
				Minuten = ((Minuten < 10)? "0" + Minuten : Minuten);
				Sekunden = ((Sekunden < 10)? "0" + Sekunden : Sekunden);
				
				var weekday = new Array(7);
				weekday[0]=  "Sonntag";
				weekday[1] = "Montag";
				weekday[2] = "Dienstag";
				weekday[3] = "Mittwoch";
				weekday[4] = "Donnerstag";
				weekday[5] = "Freitag";
				weekday[6] = "Samstag";
				
				document.getElementById("uhr").innerHTML = weekday[Dow] + " " + Tag + "." + Monat + "." + Jahr + " " + Stunden + ":" + Minuten + ":" + Sekunden;
				}
			window.setInterval("uhr()", 1000)
		</script>
	</body>
</html>