{% extends "base.html" %}
{% block content %}
	<div class="col-md-12">
		<div class="jumbotron">
			<h1><b><font color="red">{{ alarm[4] }}</font></b></h1>
           	<h1><b><font color="red">{{ alarm[9] }}</font></b></h1>
		</div>
	</div>
	<div class="col-md-6">
		<div class="jumbotron">
			<h2><b>{{ alarm[5] }}</b></h2>
			<h2><b>{{ alarm[6] }}</b></h2>
			<h2><b>{{ alarm[7] }}</b></h2>
			<br>
			<h2><b>{{ alarm[8] }}</b></h2>
			<h2><b>{{ alarm[0] }}</b></h2>
		</div>
	</div>
	<div class="col-md-6">
		<div class="jumbotron">
			<p align="center"><b>Hier kommt demnächst eine Map hin!</b></p>
		</div>
	</div>
{% endblock %}
                            