<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Alarmdisplay</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Einsätze</h1>
                <div class="dropdown">
            		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                		Kategorie
                    	<span class="caret"></span>
                	</button>
             		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                		<li role="presentation"><a role="menuitem" tabindex="-1" href="/alarmlist">-</a></li>
                    	{% for category in categories %}
                        	<li role="presentation"><a role="menuitem" tabindex="-1" href="/alarmlist/{{ category[0] }}">{{ category[0] }}</a>
                    	{% endfor %}
                	</ul>
            	</div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped ">
                	<thead>
                    	<tr>
                        	<th>#</th>
                            <th>Adresse</th>
                            <th>Einsatznummer</th>
                            <th>Stichwort</th>
                            <th>Uhrzeit</th>
                            <th>Straße</th>
                            <th>Ort</th>
                            <th>Einsatzmeldung</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for alarm in alarms %}
                            <tr>
                                <td>{{ alarm[0] }}</td>
                                <td>{{ alarm[1] }}</td>
                                <td>{{ alarm[2] }}</td>
                                <td>{{ alarm[4] }}</td>
                                <td>{{ alarm[5] }}</td>
                                <td>{{ alarm[6] }}</td>
                                <td>{{ alarm[8] }}</td>
                                <td>{{ alarm[10] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        	</div>
        </div>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>
                            