<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Alarmdisplay</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Freiwillige Feuerwehr Grande</h1>
            </div>
            {% if alarm %}
            	<div class="jumbotron">
            		<h1><span class="label label-danger">{{ alarm[4] }}</span></h1>
           			<br>
           			<h1><span class="label label-danger">{{ alarm[10] }}</span></h1>
            	</div>
            	<div class="jumbotron">
            		<h1><span class="label label-danger">{{ alarm[6] }} {{ alarm[7] }}</span></h1>
           			<br>
           			<h1><span class="label label-danger">{{ alarm[8] }}</span></h1>
            	</div>
            	<div class="jumbotron">
            		<h1><span class="label label-danger">{{ alarm[5] }}</span></h1>
           			<br>
           			<h1><span class="label label-danger">{{ alarm[9] }}</span></h1>
            	</div>
            {% else %}
            
            {% endif %}
        </div>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>
                            